.post {
    background-color: var(--gray-800);
    padding: 40px;
    border-radius: 8px;

    strong {
        color: var(--gray-100);
        line-height: 1.6;
    }

    &__header {
        display: flex;
        gap: 1rem;

        img {
            width: 3.125rem;
            border-radius: 8px;
            box-shadow: 
                0 0 0 3px var(--gray-800),
                0 0 0 5px var(--green-500);
        }
        
        p, time {
            color: var(--gray-400);
        }
        >div {

            flex: 1;

        }
    }

    &__content {
        margin: 1.5rem 0;
        line-height: 1.6;
        color: var(--gray-300);

        p {
            margin-top: 1rem;
        }
        a {
            font-weight: bold;
            color: var(--green-500);
            text-decoration: none;
        }

        a:hover {
            color: var(--green-300);
        }
        a + a {
            margin-left: .5rem;
        }
    }

    &__commentForm {
        border-top: 1px solid var(--gray-600);
        padding-top: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        textarea {
            line-height: 1.4;
            height: 6rem;
            width: 100%;
            border: 0;
            padding: 1rem;
            border-radius: 8px;
            background-color: var(--gray-900);
            outline: none;
            transition: .2s;
            color: var(--gray-300);
            resize: none;
        }

        textarea:focus,textarea:hover {
            box-shadow: 0 0 0 1px var(--green-300);
        }

        footer {
            visibility: hidden;
            opacity: 0;
            max-height: 0;
            transition: .2s;
        }

        button {
            border-radius: 8px;
            background-color: var(--green-500);
            padding: 1rem 1.5rem;
            color: var(--white);
            font-weight: 600;
            border: 0;
            cursor: pointer;
            transition: background-color .2s;
        }

        button:hover {
            background-color: var(--green-300);
        }
    }

    &__commentForm:focus-within {
        footer {
            visibility: visible;
            max-height: 4rem;
            opacity: 1;
        }
    }
}

.post + .post {
    margin-top: 2rem;
}